body{
    background-color: black;
}

.header{
    display: flex;
    background-color: black;
    /* margin-top: 10px; */
    padding-top: 5px;
}

.logo{
    width: 150px;
    height: 30px;
}

.searchbox{
    background-color: black;
    width: 30%;
    margin-left: 20%;
    /* border-radius: 25px; */
    padding-top: 3px;
}

.inputsearch{
    border-radius: 10px;
    background-color: black;
    color: white;
    border-color: white;
    border-width: 0.1px;
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

    /* padding-top: 5px; */
}

.profile{
    margin-left: 32%;
}

.profile-data{
    width: 120px;
    height: 30px;
}




/* .content{ */
    /* display: flex; */
    /* background-color: black;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px; */
/* 
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
    background-color: black; */

/* } */

.content {
    display: grid;
    grid-template-columns: repeat(4,1fr); /* Creates responsive columns */
    gap: 20px; /* Space between grid items */
    padding: 20px;
    background-color: black;
}


.window{
    background-color: black;
    margin-left: 10px;
    justify-content: space-between;
    border-color: white;
    border-radius: 20px;
    /* flex: 1 1 calc(25% - 20px); /* Adjusts item width */
    /* max-width: calc(25% - 20px);  */
    /* margin: 10px;  */

    transition: transform 0.2s ease, box-shadow 0.2s ease;

    
}

.window :hover{
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.image_div{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.window_info{
    display: flex;
}
.channel_logo{
    width: 20px; /* Set the desired size for the circle */
    height: 20px; /* Match the width for a perfect circle */
    border-radius: 50%; /* Makes it circular */
    overflow: hidden; /* Ensures the image is clipped to the circle */
    display: flex; /* Centers the image inside */
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Add a background color */
    /* border: 2px solid #ccc;  */

}

.channel_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the circle area while maintaining aspect ratio */
    background-color: #111;
    border: 1px solid white;
    
    
}

.video_title{
    width: 90%;
    
}

.video_title p{
    color: rgb(237, 237, 241);
    font-style:normal;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1px;
    margin-left: 5px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    
    
}